/* Section 1 */
.section_1{
    background-image: url(../img/hero-bg.jpg);
    padding: 100px 0;

    position: relative;/* cách làm mờ hình ảnh nền */
}
.section_1::before{ /* cách làm mờ hình ảnh nền, bản chất before là 1 phần tử giả là phần tử con nằm bên trong class section_1*/
    content: '';
    background-color: #ffffffb4;/*chỉnh cái thanh thứ 2 kéo xuống màu đậm ra hình nền rõ,kéo lên màu mờ ra hình nền mờ*/
    width: 100%;
    height: 100%;
    position: absolute;/*z index mặc định nếu không có position thì là mặc định static thì kg áp dụng được z index thì z index  của nó sẽ nhỏ hơn z index: 0, nếu khác static là z index mặc định là 0*/
    /*2 cái box mà có z index =0 thì thằng nào viết sau thì nổi lên trên trước*/
    top: 0;
    left: 0;
}
.section_1 .inner_head{
    text-align: center;
    max-width: 600px;
    margin: 0 auto 80px auto;/*làm giống container canh giữa*/
}
.section_1 .inner_head .inner_title{
    font-size: 60px;
    font-weight: 700;
}
.section_1 .inner_head .inner_desc{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section_1 .inner_box{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    padding: 50px 30px;
    border-radius: 6px;
    margin: 20px 0;

    transition: all 0.5s;/*nhấp vô to ra từ từ sau 0.5s*/
}
.section_1 .inner_box:hover{
    transform: scale(1.2);/*nhấp vô to ra*/
}
.section_1 .inner_box i{
    font-size: 28px;
    color: rgb(103, 103, 202);
    margin-bottom: 20px;
}
.section_1 .inner_box .inner_title{
    font-size: 18px;
    font-weight: 600;
    color: rgb(103, 103, 202);
    margin-bottom: 20px;
}
@media (max-width:575.98px){
    .section_1 .inner_head .inner_title {
        font-size: 28px;
    }
    .section_1 .inner_head .inner_desc {
        font-size: 16px;
    }
}
/* End Section 1 */



/*Box head*/
.box_head{
    text-align: center;
    margin-bottom: 30px;
}
.box_head .inner_title{
    font-size: 28px;
    font-weight: 700;
}
.box_head .inner_desc{
    margin-top: 10px;
}
/*End Box head*/



/* Section 2 */
.section_2{
    padding: 80px 0;
}
.section_2 .inner_box {
    margin: 15px 0;
}
.section_2 .inner_box .inner_content{
    background-color: #F3F9FD;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    font-style: italic;

    position: relative;/*trên inner_content có hình mũi tên nên để position relative*/
}
.section_2 .inner_box .inner_content i{
    font-size: 24px;
    color: blue;
}
.section_2 .inner_box .inner_content::before{
    content: '';
    position: absolute;/*so với box cha là .section_2 .inner_box .inner_content*/
    top: 100%;
    left: calc(50% - 39.11px/2);/*width của tam giác đỏ là 39.11px*/

    /*code vẽ tam giác down*/
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F3F9FD; /*ảo vãi vẽ ra tam giác cùng màu inner content*/
}
.section_2 .inner_info{
    text-align: center;
    margin-top: 50px;
}
.section_2 img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;/*hình ảnh nằm trọn trong khung và tự điều chỉnh tỉ lệ w/h của hình ảnh*/
}
.section_2 .inner_info .inner_name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.section_2 .inner_info .inner_position{
    color: rgb(116, 112, 112);
}
/* End Section 2 */





.h_100{
    height: 100%;
}


/* Section 3 */
.section_3{
    padding: 60px 0;
}
.section_3 .inner_content{
    border-bottom: 3px solid green;
    border-top: 3px solid green;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.section_3 .inner_form{
    border-bottom: 3px solid green;
    border-top: 3px solid green;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* End Section 3 */